<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tab.name %>
</p>

<%= link_to 'New Line Item', new_tab_line_item_path(@tab) %> |
<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %> |
<%= link_to 'Close', close_tab_path(@tab), data: { confirm: 'Are you sure that you want to close this tab?' }%>

<table>
  <% @tab.line_items.each do |line_item| %>
    <tr>
      <td><%= number_to_currency line_item.amount %></td>
      <td>(added by <%= line_item.user.try(:username) %>)</td>
      <td><%= link_to 'Edit', edit_line_item_path(line_item) %>
      <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
