<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if (tab_id = params[:tab_id] || @line_item.tab_id ) %>
    <h2>for: <%= @tab.name %></h2>
    <%= f.hidden_field :tab_id, value: @tab.id %>
  <% else %>
    <div class="field">
      <%= f.label :tab_id %>
      <%= f.collection_select:tab_id, @tabs, :id, :name %>
    </div>
  <% end %>
  <div class="field">
    <% LineItem.default_amounts.each do |amount| %>
      <%= button_tag number_to_currency(amount), class: 'amount_fast_fill', type: 'button', data: {amount: amount} %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
