<!DOCTYPE html>
<html>
<head>
  <title>SimpleBarTab</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Sibata', tabs_path%></h1>

<%= yield %>

<div id='da-footer'>
  <hr>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>
</body>
</html>
